nav {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #dedede;
    background: var(--color-bg);
}

input {
    outline: none;
}

// .timer-button {
//     width: 1.2rem;
//     height: 1.2rem;
// }

.expand-chevron {
    &.open {
        rotate: 90deg;
    }
}